<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name=".DebugBlockerActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <receiver
            android:name=".DebugFixtureReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver" />
    </application>
</manifest>
